  body { font-family: sans-serif; }

  h1 {
    margin: 20px auto 0 auto; /* top auto bottom auto */
    width: 540px;
  }
  .p_middle{
    text-align: left;
    font-weight: bold;
    font-size: 14pt;
    margin: 100px auto 5px auto; /* top auto bottom auto */
    width: 540px;
  }

  .middle{
    text-align: center;
  }

  .center_div{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .journal{
    text-align: justify;
    box-sizing: border-box;
    width: 540px;
    height: 200px;
    resize: none;
  }

  .button_row {
    width: 540px;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

  .button_style{

    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: white;
  }

  .button_style:hover {
  cursor: pointer;
  }

  .submit_style{
    margin-left: 130px;
    width: 60px;
    border: none;
  }

  /* Hide modal by default */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: none; /* hide initially */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  /* Modal box */
  .modal-box {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }

  /* X button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }
